@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161719;
  --foreground: #ffffff;
  --primary: #b12176;
  --secondary: #212225;
  --accent: #5e184c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-heading: var(--font-anton), "Anton", "Anton Placeholder", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .font-heading {
    font-family: var(--font-heading);
  }
}
